.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

__pycache__/
output_results/
audio/
contacts.csv
call_results.json
.dialer_state.json
.dialer_state.json.lock
users.db

/home/unisoft/Twillo-APP/output_results
/home/unisoft/Twillo-APP/call_results.json
/home/unisoft/Twillo-APP/client.csv
/home/unisoft/Twillo-APP/contacts.csv